/*Peliculas*/
.Titulo {
  text-align: center;
  font-size: 60px;
}
.MovieDatabase {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 1500px;
}
.ContenedorBotonForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70px;
  align-items: center;
}
.ContenedorBotonForm--modificador {
  justify-content: center;
}
@media screen and (max-width: 915px) {
  .Titulo {
    padding-top: 10px;
    font-size: 25px;
  }
  .MovieDatabase {
    height: 3300px;
  }
  .ContenedorBotonForm {
    justify-content: center;
    padding-left: 40px;
  }
  .ContenedorBotonForm--modificador {
    height: 100px;
    width: 412px;
  }
}
.ContenedorBotonForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70px;
  align-items: center;
}
.ContenedorBotonForm--modificador {
  justify-content: center;
}
.Boton__Api {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(158, 3, 3);
  border-radius: 10px;
  cursor: pointer;
  transition: 3s ease all;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.ContenedorBotonForm__boton--modificador {
  width: 200px;
  margin-right: 60px;
}
.Card__span {
  position: relative;
  transition: 0.3s ease all;
  z-index: 10;
}
.Boton__Api::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: -46px;
  transition: 1s ease-in-out all;
}

.Boton__Api:hover::after {
  top: 0;
}
@media screen and (max-width: 915px) {
  .ContenedorBotonForm {
    justify-content: center;
    padding-left: 40px;
  }
  .ContenedorBotonForm--modificador {
    height: 100px;
    width: 412px;
  }
  .Boton__Api {
    margin-top: 15px;
  }
  .ContenedorBotonForm__boton--modificador {
    width: 120px;
    margin-right: none;
    border: 3px solid #000;
  }
}
