/*Empresa.HTML */
.EmpresaContenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.EmpresaContenedor__img {
  margin-top: 1.875rem;
  width: 100%;
  height: 6.25rem;
  background-image: url('/src/assets/Fondopagweb.jpeg');
  background-size: 30%;
}
.EmpresaContenedor__h1 {
  font-size: 5rem;
  margin: 0;
}
.EmpresaParrafo {
  padding: 0.625rem;
}
.imagenessvgContenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 38.125rem;
}

.imagenessvgContenedor__iconos {
  width: 3.75rem;
  height: 3.75rem;
  margin: 1.25rem;
}
.imagenessvgContenedor__p {
  display: flex;
  align-items: center;
}
.imagenessvgContenedor2 {
  display: none;
}

@media screen and (max-width: 57.1875rem) {
  .EmpresaContenedor {
    height: 3.75rem;
  }
  .EmpresaContenedor__img {
    margin-top: 0.625rem;
    height: 3.125rem;
  }
  .EmpresaContenedor__h1 {
    font-size: 1.5625rem;
    padding: 0.625rem;
  }
  .imagenessvgContenedor {
    display: none;
  }
  .imagenessvgContenedor2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 38.125rem;
    display: inline;
  }
  .imagenessvgContenedor__p2 {
    display: flex;
    align-items: center;
  }
  .imagenessvgContenedor__iconos2 {
    width: 3.75rem;
    height: 3.75rem;
    margin: 1.25rem;
  }
}
