.ContenedorForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 46.875rem;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 3.125rem;
}
.formularioPartido {
  display: flex;
  flex-direction: row;
}
.FormPrimeraParte,
.FormSegundaParte {
  width: 37.8125rem;
  height: 20.3125rem;
}
.Forminput,
.selector {
  color: #fff;
  background: #000;
  outline: none;
  border: none;
  border-bottom: 0.1875rem solid rgb(158, 3, 3);
  width: 90%;
  height: 4.375rem;
  border-radius: 0.625rem;
}
.labels {
  font-size: 1.875rem;
  font-weight: bold;
}
.ContenedorConsulta {
  flex-wrap: wrap;
  width: 71.875rem;
  height: 12.5rem;
}
.Forminput__textarea {
  height: 9.375rem;
  width: 100%;
  resize: none;
}

.ContenedorBotonForm__boton {
  background-color: #000;
  color: rgb(158, 3, 3);
  border-radius: 0.625rem;
  border: none;
  width: 7.5rem;
  height: 3.125rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 1000;
}
.Titulo {
  text-align: center;
  font-size: 3.75rem;
}
@media screen and (max-width: 57.1875rem) {
  .ContenedorForm {
    flex-direction: column;
    height: 45.375rem;
  }
  .formularioPartido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .FormPrimeraParte,
  .FormSegundaParte {
    width: 25.9375rem;
    height: 12.3125rem;
  }
  .Forminput,
  .selector {
    margin-left: 0.625rem;
    height: 2.5rem;
    width: 22.4rem;
  }
  .labels {
    font-size: 1.2rem;
    margin-left: 0.625rem;
    font-size: none;
  }
  .ContenedorConsulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center;
  }
  .Forminput__textarea {
    height: 8.375rem;
    width: 20rem;
  }
  .Titulo {
    padding-top: 1.25rem;
    font-size: 1.56rem;
  }
}
