.brujula {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: rgb(13, 61, 100);
}
.brujula__img {
  width: 150px;
  border-radius: 80px;
}
.link {
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links__a2 {
  color: rgb(196, 132, 13);
  font-size: 30px;
  text-decoration: none;
}
.links__a2:hover,
.Condiciones:hover {
  text-decoration: underline rgb(196, 132, 13);
}
@media screen and (max-width: 915px) {
  /*Header*/
  .brujula {
    height: 100px;
  }
  .brujula__img {
    width: 100px;
    height: 100px;
  }
  .link {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 99px;
    width: 100%;
    height: calc(100% - 99px);
    background-color: rgb(13, 61, 100);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .links__Visibles {
    left: 0;
  }
  .BotonHamburguesa {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 250px;
    height: 50px;
    margin-top: 40px;
  }
  .BotonHamburguesa__icono {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
