/*Barra de Navegacion*/
body::-webkit-scrollbar {
  width: 10px;
  background-image: url('./assets/FondoPaginaWeb.jpg');
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(13, 61, 100);
  border-radius: 5px;
  height: 120px;
}

/*Api css*/
.ContenedorPeliculas {
  text-align: center;
  height: 300px;
  width: 300px;
}
.titulo {
  font-size: 20px;
  color: rgb(158, 3, 3);
}
.ContenedorPeliculas__img {
  width: 225px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 225px;
  transition: all 1000ms;
}
.ContenedorPeliculas__img:hover {
  transform: scale(1.15);
}
/*RESPONSIVE*/
@media screen and (max-width: 915px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }

  .ContenedorPeliculas {
    height: 200px;
    width: 200px;
  }
  .titulo {
    font-size: none;
    color: rgb(158, 3, 3);
  }
  .ContenedorPeliculas__img:hover {
    transform: scale(1.05);
  }
}
